In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [40]:
hot_news_entity_ids=pd.read_csv('/Users/adityaravindrabhat/Documents/GitHub/engagement_models/Datasets/MetaAndTextDatasets/hot_news/hot_news_entity.csv')
hot_news_meta=pd.read_csv('/Users/adityaravindrabhat/Documents/GitHub/engagement_models/Datasets/MetaAndTextDatasets/hot_news/hot_news_articles_metamaincombined.csv',parse_dates=True)
hot_news_liwc=pd.read_csv('/Users/adityaravindrabhat/Documents/GitHub/engagement_models/Datasets/MetaAndTextDatasets/hot_news/LIWC_hot_news_body.csv')
hot_news_meta.reset_index(inplace=True)
hot_news_liwc=hot_news_liwc[['id','WC','WPS','Authentic','Tone','Analytic','Clout','posemo','negemo']]
hot_news_meta=hot_news_meta.drop(['title_x','title_y','domain_x','url','author','links','tags','movies','flair','publish_date','created_utc'],axis=1)
print(hot_news_entity_ids.info())
print(hot_news_meta.info())
print(hot_news_liwc.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4059 entries, 0 to 4058
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   4059 non-null   int64
 1   id           4059 non-null   object
 2   FAC          4059 non-null   float64
 3   DATE         4059 non-null   float64
 4   CARDINAL     4059 non-null   float64
 5   GPE          4059 non-null   float64
 6   ORG          4059 non-null   float64
 7   PERSON       4059 non-null   float64
 8   TIME         4059 non-null   float64
 9   WORK_OF_ART  4059 non-null   float64
 10  ORDINAL      4059 non-null   float64
 11  LOC          4059 non-null   float64
 12  NORP         4059 non-null   float64
 13  PRODUCT      4059 non-null   float64
 14  MONEY        4059 non-null   float64
 15  LAW          4059 non-null   float64
 16  EVENT        4059 non-null   float64
 17  PERCENT      4059 non-null   float64
 18  QUANTITY     4059 non-null   float64
 19  LANGUAGE     4059 non-null   float64
dtypes: float64(18), int64(1), object(1)
memory usage: 634.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13701 entries, 0 to 13700
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13701 non-null  int64
 1   Rank           13700 non-null  float64
 2   score          13700 non-null  float64
 3   id             13700 non-null  object
 4   comms_num      13700 non-null  float64
 5   upvote_ratio   13700 non-null  float64
 6   no_crossposts  13700 non-null  float64
 7   ups            13700 non-null  float64
 8   created_date   13700 non-null  object
 9   created_time   13700 non-null  object
 10  published_at   11763 non-null  object
 11  domain_y       13503 non-null  object
dtypes: float64(6), int64(1), object(5)
memory usage: 1.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4129 entries, 0 to 4128
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         4124 non-null   object
 1   WC         4129 non-null   float64
 2   WPS        4129 non-null   float64
 3   Authentic  4129 non-null   float64
 4   Tone       4129 non-null   float64
 5   Analytic   4129 non-null   float64
 6   Clout      4129 non-null   float64
 7   posemo     4129 non-null   float64
 8   negemo     4129 non-null   float64
dtypes: float64(8), object(1)
memory usage: 290.4+ KB
None

In [41]:
hot_news_meta['created_date']=pd.to_datetime(hot_news_meta['created_date'])
hot_news_meta['created_time']=pd.to_datetime(hot_news_meta['created_time'])
hot_news_meta['created_time']=hot_news_meta['created_time'].dt.time
hot_news_meta['day_of_week']=hot_news_meta['created_date'].dt.day_name()
hot_news_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13701 entries, 0 to 13700
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13701 non-null  int64
 1   Rank           13700 non-null  float64
 2   score          13700 non-null  float64
 3   id             13700 non-null  object
 4   comms_num      13700 non-null  float64
 5   upvote_ratio   13700 non-null  float64
 6   no_crossposts  13700 non-null  float64
 7   ups            13700 non-null  float64
 8   created_date   13700 non-null  datetime64[ns]
 9   created_time   13700 non-null  object
 10  published_at   11763 non-null  object
 11  domain_y       13503 non-null  object
 12  day_of_week    13700 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(1), object(5)
memory usage: 1.4+ MB

In [42]:

hot_news_meta.head()

,index,Rank,score,id,comms_num,upvote_ratio,no_crossposts,ups,created_date,created_time,published_at,domain_y,day_of_week
0,0,1.0,49.0,ooqc6i,142.0,0.65,0.0,49.0,2021-07-21,09:53:34,NaN,www.reddit.com,Wednesday
1,1,2.0,14470.0,oou7kh,1859.0,0.97,2.0,14470.0,2021-07-21,13:05:18,2021-07-20 22:58:00+00:00,www.news.com.au,Wednesday
2,2,3.0,32350.0,oorcsq,3818.0,0.88,3.0,32350.0,2021-07-21,10:46:33,2021-07-21 14:37:00+00:00,www.nbcnews.com,Wednesday
3,3,4.0,44462.0,oonzyz,2319.0,0.92,7.0,44462.0,2021-07-21,07:30:04,2021-07-21 00:39:35+00:00,www.cnn.com,Wednesday
4,4,5.0,2004.0,oowppz,227.0,0.97,2.0,2004.0,2021-07-21,15:09:03,2021-07-21 21:46:32.448000+00:00,www.wftv.com,Wednesday

In [44]:
#creating time of the dy categorical column
hot_news_meta['time_of_day']=pd.cut(pd.to_timedelta(hot_news_meta['created_time'].astype(str)), pd.to_timedelta(['04:00:00','12:00:00','17:00:00','23:59:59']),labels=['Morning','Afternoon','Evening']).astype(str).replace('nan','Midnight')
hot_news_meta.head()

,index,Rank,score,id,comms_num,upvote_ratio,no_crossposts,ups,created_date,created_time,published_at,domain_y,day_of_week,time_of_day
0,0,1.0,49.0,ooqc6i,142.0,0.65,0.0,49.0,2021-07-21,09:53:34,NaN,www.reddit.com,Wednesday,Morning
1,1,2.0,14470.0,oou7kh,1859.0,0.97,2.0,14470.0,2021-07-21,13:05:18,2021-07-20 22:58:00+00:00,www.news.com.au,Wednesday,Afternoon
2,2,3.0,32350.0,oorcsq,3818.0,0.88,3.0,32350.0,2021-07-21,10:46:33,2021-07-21 14:37:00+00:00,www.nbcnews.com,Wednesday,Morning
3,3,4.0,44462.0,oonzyz,2319.0,0.92,7.0,44462.0,2021-07-21,07:30:04,2021-07-21 00:39:35+00:00,www.cnn.com,Wednesday,Morning
4,4,5.0,2004.0,oowppz,227.0,0.97,2.0,2004.0,2021-07-21,15:09:03,2021-07-21 21:46:32.448000+00:00,www.wftv.com,Wednesday,Afternoon

In [47]:
hot_news_meta.drop(['ups','published_at'],inplace=True,axis=1)
hot_news_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13701 entries, 0 to 13700
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13701 non-null  int64
 1   Rank           13700 non-null  float64
 2   score          13700 non-null  float64
 3   id             13700 non-null  object
 4   comms_num      13700 non-null  float64
 5   upvote_ratio   13700 non-null  float64
 6   no_crossposts  13700 non-null  float64
 7   created_date   13700 non-null  datetime64[ns]
 8   created_time   13700 non-null  object
 9   domain_y       13503 non-null  object
 10  day_of_week    13700 non-null  object
 11  time_of_day    12861 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(1), object(5)
memory usage: 1.3+ MB

In [50]:
hot_news_meta.reset_index(inplace=True)
hot_news_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13701 entries, 0 to 13700
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   level_0        13701 non-null  int64
 1   index          13701 non-null  int64
 2   Rank           13700 non-null  float64
 3   score          13700 non-null  float64
 4   id             13700 non-null  object
 5   comms_num      13700 non-null  float64
 6   upvote_ratio   13700 non-null  float64
 7   no_crossposts  13700 non-null  float64
 8   created_date   13700 non-null  datetime64[ns]
 9   created_time   13700 non-null  object
 10  domain_y       13503 non-null  object
 11  day_of_week    13700 non-null  object
 12  time_of_day    12861 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(2), object(5)
memory usage: 1.4+ MB

In [51]:
hot_news_meta.head()

,level_0,index,Rank,score,id,comms_num,upvote_ratio,no_crossposts,created_date,created_time,domain_y,day_of_week,time_of_day
0,0,0,1.0,49.0,ooqc6i,142.0,0.65,0.0,2021-07-21,09:53:34,www.reddit.com,Wednesday,Morning
1,1,1,2.0,14470.0,oou7kh,1859.0,0.97,2.0,2021-07-21,13:05:18,www.news.com.au,Wednesday,Afternoon
2,2,2,3.0,32350.0,oorcsq,3818.0,0.88,3.0,2021-07-21,10:46:33,www.nbcnews.com,Wednesday,Morning
3,3,3,4.0,44462.0,oonzyz,2319.0,0.92,7.0,2021-07-21,07:30:04,www.cnn.com,Wednesday,Morning
4,4,4,5.0,2004.0,oowppz,227.0,0.97,2.0,2021-07-21,15:09:03,www.wftv.com,Wednesday,Afternoon

In [ ]:
#merging the dataframes

hot_news=hot_news_meta.merge()